<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="HookerConnection" value="Server=Nya-Bettan;Database=Hooker_net;Trusted_Connection=True;"/>
    <add key="HookerConnectionTest" value="Server=Nya-Bettan;Database=Hooker_net_test;Trusted_Connection=True;"/>
	  <add key="MariaConnection" value="Server=torvmossen.synology.me;Database=Hooker_Maria;Port=3307;Uid=nyabettan;Pwd='Stenson'"/>
	  <add key="MariaConnectionTest" value="Server=torvmossen.synology.me;Port=3307;Database=Hooker_Maria_Test;Uid=nyabettan;Pwd='Stenson'"/>
	  <add key="Default_Databas" value="MariaConnectionTest"/>
	  <add key="Default_Databas_Locale" value="MariaConnectionTest"/>
	  <add key="DatabasTyp" value="Remote"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
